@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100%;
}

.link {
  color: #2f80ed;
  margin: 5px 0;
  display: block;
  &--right {
    float: right;
  }
}

.css-1ebyn6 {
  font-size: 12px !important;
}

$shadow-md-color: rgba(0, 0, 0, 0.2); // Customize the shadow color if needed

@mixin box-shadow-bottom {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; // Adjust the distance of the shadow from the element
    height: 1px; // Adjust the height of the shadow
    background-color: $shadow-md-color;
    filter: blur(1px); // Adjust the blur radius if desired
  }
}

.drawer {
  z-index: 10;
}

// Usage example
.header {
  // Your element's styles here
  position: fixed !important;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  @include box-shadow-bottom;
  // @media screen and (max-width: 1200px) {
  //   // Styles for all children of parent element at or below 768px width

  //   > * {
  //     display: none;
  //     visibility: hidden;
  //   }
  // }
}

.BoardSection {
  width: 95%;
  margin: 10px auto;
}

.cardImage {
  width: 96%;
  border-radius: 22px;
  object-fit: cover;
}

.scrollable-container {
  box-sizing: border-box !important;
  overflow-y: scroll !important;
  border:'1px solid red' !important;
  padding-bottom: 60px !important;
  // For browsers that support scrollbar customization
  &::-webkit-scrollbar {
    width: 8px; // Adjust this value as needed
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #888; // Customize scrollbar thumb color
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #f0f0f0; // Customize scrollbar track color
    border-radius: 4px;
  }
  
  // For Firefox
  scrollbar-width: thin;
  
  // For IE and Edge
  -ms-overflow-style: none;
  
  // Add styles for the content within the container
  // ...
}
